<% content_for :breadcrumb do %>
  <li><%= link_to "KM Page Category", km_page_categories_path %> <span class="divider">/</span></li>
  <li class="active">Edit Page Category </li>
<% end %>
<h1>Editing Page Category: <%= @km_page_category.name %></h1>

<%= render 'form' %>

