<% content_for :breadcrumb do %>
  <li><%= link_to "Sales Opportunity", sales_opportunities_path %> 
  <li class="active">New Sales Opportunity</li>
<% end %>
<h1>New Sales Opportunity</h1>


<%= render 'form' %>


