<% content_for :breadcrumb do %>
 <li class="active">Prospects Administration</li>
<% end %>
<h1>Prospects Administration</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>E-mail</th>
    <th></th>
  </tr>

<% @users.each do |user| -%>
  <tr>
    <td><%= user.name || " " %></td>
    <td><%= link_to user.email , edit_employee_path(user) %></td>
    <td>
      <% if user.access_locked? -%>
        <%= link_to "Enable" , enable_user_path(user) %>
      <% else -%>
        <%= link_to "Disable" , disable_user_path(user) %>
      <% end -%>
    </td>  
  </tr>
<% end -%>
</table>



