<% content_for :breadcrumb do %>
  <li><%= link_to "Customer Accounts", customer_accounts_path %>
  <li class="active">New Customer Account</li>
<% end %>
<h1>New customer_account</h1>

<%= render 'form' %>

<%= link_to 'Back', customer_accounts_path %>
