<% content_for :breadcrumb do %>
 <li class="active">Content Marketing Pages</li>
<% end %>
<%= link_to "Add a Page" , new_cm_page_path %>

<% if @cm_pages -%>
<table class="table table-bordered table hover">
<tr>
  <th>Title:</th>
</tr>

  <% @cm_pages.each do |t| -%>
  <tr>
    <td><%= link_to t.title, cm_page_path(t)  %></td>
  </tr>
  <% end -%>

</table>
<% end -%>
