<% content_for :breadcrumb do %>
  <li><%= link_to "Customer Accounts", customer_accounts_path %> <span class="divider">/</span></li>
  <li><%= link_to "Customer Site", customer_account_customer_sites_path(@customer_account) %> <span class="divider">/</span></li>
  <li class="active">New Customer Contact</li>
<% end %>
<%= render 'form' %>

