<% content_for :breadcrumb do %>
  <li><%= link_to "Service Cases", service_cases_path %> 
  <li class="active">Edit Service Case</li>
<% end %>
<h1>Editing Service Case: <%= @service_case.name %></h1>

<%= render 'form' %>

